:root {
    --global-color: #379BFF;
    --cart-color: #F91155;
    --link-hover: #0562BF;
}

.noUi-connect {
    background: var(--global-color);
}

.noUi-horizontal .noUi-tooltip {
    display: none;
}

.noUi-horizontal {
    height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 10px;
    right: -10px;
    top: 0px;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}